<!DOCTYPE html>
<html ng-app="myapp">
<body>
<body>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

	<!-- Jquery -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
 
		<!-- Angular -->
		
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
	  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.js"></script>
	  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
  
	  <!-- Firebase -->
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
	  <!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
  
	<script src="/scripts/homepage.js"></script>

		<div id="container">
			 <div ng-view></div>
		</div>

</body>
</html>