<div class="container" ng-controller="secondPageController">
			<h2>{{page2name}}</h2>
			<a href='#/'> previous page</a>	
			
			
			<li ng-repeat="personName in data | filter: name">
			 Name: {{personName.name}}
			 
			 Message: {{personName.message}}
					
			</li>
		<div class="passengerDetails">
			<h2>Passenger Info</h2>
				<li ng-repeat="personData in passengerData | filter: name">
			 Name: {{personData.name}}
			 
			 place: {{personData.place}}
					<a ng-click="removeItem($index)">remove</a>
			</li>
			<form ng-submit="addPasInfo(newName,newPlace)">
				Name: <input ng-model="newName" placeholder="Name"/>
				Place: <input ng-model="newPlace" placeholder="place"/>	
			  <button type="submit">add entry</button>
			</form>
			
			
			</div>
		
			
</div>